dev.plutus.smurfville.app {
    log stdout
    # Mkcert - https://github.com/FiloSottile/mkcert
    tls /root/certs/dev.plutus.smurfville.app.pem /root/certs/dev.plutus.smurfville.app-key.pem

    proxy / http://172.17.0.1:3000 {
        transparent
        header_upstream Host  "dev.plutus.smurfville.app"
    }
}
