{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "plutus",
  "password": "plutus",
  "database": "plutus",
  "entities": [
    "./**/*.entity{.ts,.js}"
  ],
  "migrationsTableName": "migration",
  "migrations": [
    "src/migration/*.ts"
  ],
  "cli": {
    "migrationsDir": "src/migration"
  }
}
