<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-gray-900">
    <div id="app"></div>

    <script>
      window.USER = JSON.parse('{{{ user }}}');
    </script>
    <script src="/bundle.js"></script>
</body>

</html>
